{{ 'minicart.css' | asset_url | stylesheet_tag }}


<section class="miniCart row col-12 col-sm-10 mx-auto p-0">
    <div class="miniCart__titule col-12 col-sm-10 mx-auto mt-3 mb-3">
        <h2>Your shopping</h2>
    </div>
    <div class="listProductMinicart  row mx-auto">
        
    </div>

</section>


<script src="{{ 'minicart.js' | asset_url }}" defer="defer"></script>